*~
*.8
8.out
*#
hanoi.ps
hanoitri
mod17
mod3tt
popcountmod3
tiny-symbol-table
gmon.out
callgrind.out.*
cachegrind.out.*
nand
a.out
*.pyc
jsonwords
powerset
tmp.out
newtonsqrt
js-syntax-highlighting.html
*.o
handaxeweb2.lua
handaxeweb3.lua
handaxeweb4.lua
7bit
8bit
bd
division
handaxeweb.haw.html
gliderwords.py
gliderwords.md.html
hashcoll
